.inputRounded .MuiOutlinedInput-root {
    border-radius: 33px;
    z-index: 10;
    height: 7vh;
    width: 90vh;
    background : white;
    box-shadow: 0 1px 15px rgb(0 0 0 / 0.2);
    font-size: large;
    padding-left: 2%;
}